*,
 ::before,
 ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 

 li{
    list-style-type: none;

 }
a{
    color: inherit;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
