body {
    background-image: url(../image/imgi_84_grunge-overlay-dots-2.png);
    background-size: cover;
    background-position: center;
    /* border: 1px solid red; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* padding: 0 3%; */
    z-index: 0;
    position: relative;
}

.me {

    >img {
        position: fixed;
        bottom: 45px;
        right: 0;
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    >h4 {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: rgb(112, 3, 3);
        position: fixed;
        bottom: 10px;
        right: 35px;
    }

    >a {
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 5px;
        right: 140px;

        &:hover {
            background-color: rgba(211, 178, 178, 0.914);
        }
    }
}

.navbar {


    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 0;
    padding: 1% 16%;

    >.nav {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* * {
            width: 30%;
            height: 100%;
            border: 1px solid black;
        } */

        >div {
            display: flex;
            flex-direction: column;

            * {
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                padding-top: 10px;
            }

            >h4 {
                font-weight: 100;
                font-size: 18px;
                display: flex;
                align-items: center;
                color: rgb(70, 70, 70);
            }

            >h5 {
                margin-top: 0;
                font-size: 20px;
                color: rgba(167, 90, 73, 0.786);
            }
        }

        >nav {

            >figure {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;

                >img {
                    width: 65%;
                    height: 90%;

                }
            }
        }

        >.navv {
            /* display: flex;
            justify-content: center; */
            flex-direction: row;

            >a {
                display: flex;
                /* align-items: center; */
                /* justify-content: center; */
                background-color: rgba(167, 90, 73, 0.786);
                color: white;
                text-transform: capitalize;
                padding: 12px 38px 12px 32px;
                border-radius: 4px;

                &:hover {
                    color: white;
                    scale: 1.05;
                    background-color: rgb(237, 38, 38);
                }

                * {
                    margin-bottom: 5px;

                }

                >svg {
                    width: 30px;
                    height: 30px;

                }

                >span {
                    margin-inline-start: 4px;
                    font-weight: bold;


                }
            }


            >svg {
                padding-inline-start: 10px;
                width: 55px;
                height: 50px;
                margin-inline-start: 0;
                color: rgb(235, 121, 7);
            }
        }
    }
}

.header-hr {
    width: 68%;
    border-color: rgba(191, 99, 38, 0.246);
    margin: auto;
}

/* //////end of navbar////// */
.header {
    width: 100%;
    height: 70px;

    /* border: 1px solid black; */
    >ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        /* border: 1px solid black; */
        /* background-color: rgb(9, 25, 25); */

        >li {
            position: relative;
            /* background-color: rgb(185, 245, 245); */
            line-height: 70px;
            padding: 0 10px;
            display: flex;


            &:hover {
                >a {
                    color: rgb(235, 121, 7);
                }

                >ul {
                    visibility: visible;
                    opacity: 1;
                }

            }


            >a {

                font-size: 18px;
                text-transform: uppercase;
                background-color: transparent;
                height: 100%;
                display: flex;

                >svg {
                    width: 20px;
                    margin-left: 5px;
                }

            }

            >ul {

                background-color: rgb(202, 161, 151);
                height: 450px;
                position: absolute;
                top: 60px;
                left: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: 730px;
                border-radius: 0 0 45px 0;
                visibility: hidden;
                opacity: 0;
                transition: .5s;
                z-index: 999;

                >li {

                    width: 50%;
                    height: 50px;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    padding: 0 10px;

                    &:hover {
                        >img {
                            scale: 1.05;
                        }
                    }

                    * {
                        margin-left: 50px;
                        font-weight: bold;
                    }

                    >a {
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        color: rgb(40, 20, 1);
                        font-size: 20px;
                        text-transform: capitalize;
                        width: 100%;
                    }

                    >p {
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        display: flex;
                        align-items: center;
                        height: 40px;
                        color: white;

                    }

                    >img {
                        height: 100px;
                        width: 90%;
                        margin-left: 0;
                        border-radius: 0 0 35px 0;
                        /* border: 1px solid black; */
                        transition: 1s;

                    }
                }
            }
        }
    }
}

/* //////end header////// */
.cover {
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;

    >div {
        position: relative;

        &:first-of-type {

            display: flex;
            align-items: center;
            margin-top: 80px;
            flex-wrap: wrap;
            /* border: 1px solid rgb(38, 237, 78); */
            width: 50%;
            height: 400px;
            padding-left: 15%;
            text-transform: capitalize;

            >h3 {
                margin-top: 30px;
                font-size: 52px;

            }

            >p {
                font-size: 22px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                color: rgb(98, 97, 97);
            }

            >span {
                width: 200px;
                height: 60px;
                border-radius: 4px;
                font-size: 18px;
                background-color: rgb(237, 38, 38);
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                color: white;
                font-weight: bold;

                &:hover {
                    background-color: rgba(167, 90, 73, 0.786);
                    scale: 1.05;
                }
            }

        }

        &:last-of-type {
            /* border: 1px solid rgb(237, 38, 38); */
            width: 50%;
            height: 550px;

            >img {
                width: 65%;
                height: 490px;
                border-radius: 60% 60% 0 0;
                position: absolute;
                bottom: 10px;
                left: 30px;
                /* border: 1px solid rgb(26, 0, 0); */

            }
        }
    }
}

/* ////////end cover////// */
.card {
    width: 100%;
    height: 650px;
    display: flex;
    margin-bottom: 300px;
    padding: 0 20%;
    /* border: 3px solid rgb(28, 232, 55); */

    >div {
        width: 50%;
        /* border: 3px solid rgb(172, 7, 7); */
        transition: .4s;


        &:hover {
            margin-top: 5px;

        }

        &:first-of-type {
            margin-left: -80px;
            height: 650px;
            /* border: 1px solid black; */
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            /* margin: 20px; */

            >img {
                height: 400px;
                padding: 0;
                margin-left: 0;
                border-radius: 0 30% 0 0;
            }

            * {
                /* border: 1px solid black; */
                padding: 10px 0;
                margin-left: 5px;
                display: flex;
            }

            >h4 {
                margin-top: 20px;
                height: 50px;
                font-size: 26px;
            }

            >.line {
                padding: 0;
                width: 55%;
                border-color: rgba(191, 99, 38, 0.246);

            }

            >span {
                display: flex;
                position: relative;

                &:hover {
                    >a {
                        border: none;
                        background-color: rgba(224, 118, 47, 0.614);
                        color: white;
                        padding-bottom: 30px;
                    }

                    >h5 {
                        margin-top: -23px;
                        opacity: 0;
                    }

                    >h6 {
                        bottom: 55px;
                        opacity: 1;
                    }
                }

                >a {

                    width: 180px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    border: 1px solid rgba(224, 118, 47, 0.614);
                    background-color: rgb(239, 230, 223);
                    margin-bottom: 40px;
                    transition: .4s;


                }

                >h5 {
                    /* display: flex;
                    justify-content: center; */
                    width: 180px;
                    position: absolute;
                    top: 12px;
                    left: 40px;
                    font-size: 20px;
                    transition: .3s;
                }

                >h6 {
                    /* color: black; */
                    width: 180px;
                    position: absolute;
                    bottom: 32px;
                    left: 40px;
                    font-size: 20px;
                    transition: .3s;
                    opacity: 0;
                }
            }
        }

        &:last-of-type {
            margin-left: 80px;
            /* margin-right: -80px; */
            height: 650px;
            /* border: 1px solid rgb(40, 188, 43);  */
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            /* margin: 20px; */

            >img {
                /* border: 1px solid yellow; */
                height: 400px;
                padding: 0;
                margin-right: 0;
                border-radius: 0 30% 0 0;
            }

            * {
                /* border: 1px solid black; */
                padding: 10px 0;
                margin-left: 5px;
                display: flex;
            }

            >h4 {
                margin-top: 20px;
                height: 50px;
                font-size: 26px;
            }

            >.line {
                padding: 0;
                width: 55%;
                border-color: rgba(191, 99, 38, 0.246);

            }

            >span {
                display: flex;
                position: relative;

                &:hover {
                    >a {
                        border: none;
                        background-color: rgba(224, 118, 47, 0.614);
                        color: white;
                        padding-bottom: 30px;
                    }

                    >h5 {
                        margin-top: -23px;
                        opacity: 0;
                    }

                    >h6 {
                        bottom: 55px;
                        opacity: 1;
                    }
                }

                >a {

                    width: 180px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    border: 1px solid rgba(224, 118, 47, 0.614);
                    background-color: rgb(239, 230, 223);
                    margin-bottom: 40px;
                    transition: .4s;


                }

                >h5 {
                    /* display: flex;
                    justify-content: center; */
                    width: 180px;
                    position: absolute;
                    top: 12px;
                    left: 40px;
                    font-size: 20px;
                    transition: .3s;
                }

                >h6 {
                    /* color: black; */
                    width: 180px;
                    position: absolute;
                    bottom: 32px;
                    left: 40px;
                    font-size: 20px;
                    transition: .3s;
                    opacity: 0;
                }

            }
        }
    }
}

.end {
    padding: 0;
    width: 100%;
    height: 350px;
    background-color: rgb(239, 230, 223);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &:first-of-type {
          padding-left: 200px;
            >h5 {
                font-size: 24px;
            }

            /* border: 1px solid white; */

            >ul {
                /* border: 1px solid white; */
                margin: 15px 0;
                padding-right: 30px;


                >li {
                    padding-bottom: 10px;

                    &:hover {
                        >a {
                            color: rgb(247, 109, 17);
                        }
                    }

                    >a {
                        font-size: 20px;
                        color: black;

                    }
                }
            }

        }

        &:last-of-type {
            /* border: 1px solid rgb(187, 17, 17); */
            padding-right: 300px;
            padding-top: 30px;

            >.log {
                width: 290px;
                height: 100px;
            }

            >h4 {
                font-size: 22px;
                margin-bottom: 30px;

                &:hover {
                    color: rgb(248, 105, 10);
                }
            }
        }


    }
}